@charset "UTF-8";

/* 
    Paleta de cores
    Verde: #49a09d
    Roxo: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 260px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    /* Tudo que estiver fora da borda essa div esconde */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    /* Animação para transição entre media feature */

    transform: translate(-50%, -50%);
    /* Quando houver animações, sempre colocar o transform no fim do seletor SEMPRE. Caso contrário, poderá haver problemas de compatibilidade. */
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../img/building.jpg) no-repeat center center;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 5px;
    background-color: #5f2c82;
    border-radius: 8px;
    border: 2px solid #5f2c82;
    margin: 5px 0;
}

form label {
    display: none;
}

span.white {
    position: relative;
    top: -3px;
    color: white;
    /* background-color: black; */
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #49a09d;
    font-size: 1em;
    width: calc(100% - 45px);
    /* calc() ideal para fazer um elemento encaixar vieualmente dentro o outro sem precizar ficar mexendo em dois atributos ao mesmo tempo */
    height: 100%;
    border: none;
    border-radius: 8px;
    padding: 4px;
    transform: translate(1px, -12px);
}
div.campo > input:focus-within {
    background-color: white;
}

form > input[type="submit"] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
}
form > input[type="submit"]:hover {
    background-color: #24726f;
}

form > a.botao {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    /* padding-top: 6px; */
    background-color: white;
    color: #24726f;
    border: 1px solid #24726f;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
form > a.botao:hover {
    background-color: #49a09d;
    color: white;
    border: 1px solid #49a09d;
}
form > a > span {
    position: relative;
    top: 6px;
}